:root {
  --CrimsonOrange: #c76b2e;
  --Tapioca: #ffc39a; 
  --BabyBeige: #fff0e0; 
  --SkinBeige: #fce3ca; 
  --LightOrange: #fcddbe; 
  --DarkerOrange: #a4551c;
  --WarmGray: #7e7e7e;
  --SoftPink: #f5c3b4;
  --MutedBlue: #a0c5d8;
  --SubtleGreen: #cee5cb;
}

.navbar {
  background-color: var(--CrimsonOrange) !important;
}

/* For Publications Page */
.page-content{
  background-color: var(--BabyBeige);
}

/* Footers */
.footer {
    background-color: var(--CrimsonOrange);
    color: #ffffff;
    padding: 20px;
    text-align: left;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info {
    text-align: right;
    color: #4e2a10;
    font-size: 0.9em;
    margin-bottom: 5px;
    line-height: 0.7;
  }
  
  .spacing {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: var(--CrimsonOrange) !important;
    }
    
    .page-content {
      background-color: var(--BabyBeige);
    }

    .footer {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
      text-align: center; /* Center text */
    }
  
    .contact-info {
      text-align: center; /* Center contact info text */
      margin-top: 20px; /* Add some top margin for separation */
    }
    
    .spacing {
      margin-top: 30px; 
      margin-bottom: 30px; 
    }
  }
  