

/* Footers */
.footer {
    background-color: #343a40;
    /* Use the desired background color */
    color: #ffffff;
    /* Use the desired text color */
    padding: 20px;
    text-align: left;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info {
    text-align: right;
    color: #999999;
    /* Slightly darker color for the address */
    font-size: 0.9em;
    /* Smaller font size for the address */
    margin-bottom: 5px;
    /* Adjust the margin bottom as needed */
    line-height: 0.7;
    /* Adjust the line-height to reduce spacing between lines */
  }
  
  .spacing {
    margin-top: 50px;
    margin-bottom: 50px;
  }