:root {
  --CrimsonOrange: #c76b2e;
  --Tapioca: #ffc39a; 
  --BabyBeige: #fff0e0; 
  --SkinBeige: #fce3ca; 
  --LightOrange: #fcddbe; 
  --DarkerOrange: #a4551c;
  --WarmGray: #7e7e7e;
  --SoftPink: #f5c3b4;
  --MutedBlue: #a0c5d8;
  --SubtleGreen: #cee5cb;
}

.navbar {
  background-color: var(--CrimsonOrange) !important;
}

/* For Publications Page */
.page-content{
  background-color: var(--BabyBeige);
}

/* Footers */
.footer {
    background-color: var(--CrimsonOrange);
    /* Use the desired background color */
    color: #ffffff;
    /* Use the desired text color */
    padding: 20px;
    text-align: left;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contact-info {
    text-align: right;
    color: #4e2a10;
    /* Slightly darker color for the address */
    font-size: 0.9em;
    /* Smaller font size for the address */
    margin-bottom: 5px;
    /* Adjust the margin bottom as needed */
    line-height: 0.7;
    /* Adjust the line-height to reduce spacing between lines */
  }
  
  .spacing {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 768px) {
    .navbar {
      background-color: var(--CrimsonOrange) !important;
    }
    
    .page-content {
      background-color: var(--BabyBeige);
    }
    
    .spacing {
      margin-top: 30px; 
      margin-bottom: 30px; 
    }
  }
  