:root {
    --CrimsonOrange: #c76b2e;
    --Tapioca: #ffc39a; 
    --BabyBeige: #fff0e0; 
    --SkinBeige: #fce3ca; 
    --LightOrange: #fcddbe; 
    --DarkerOrange: #a4551c;
    --WarmGray: #7e7e7e;
    --SoftPink: #f5c3b4;
    --MutedBlue: #a0c5d8;
    --SubtleGreen: #cee5cb;
  }

#research-body{
    background-color: var(--BabyBeige);
}

.page-headers {
    text-align: center;
    margin-top: 30px; /* Adjust the top margin as needed */ 
    margin-bottom: -40px;
  }

  .photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px; /* Adjust margin between rows of photos */
    padding: 40px; /* Add padding to the left and right of the container */
  }


  .photo {
    position: relative;
    border: rgb(0, 0, 0) solid 1px;
    margin: 10px; /* Adjust margin between photos */
    box-sizing: border-box; /* Include padding and borders in the element's total width and height */
    width: calc(33.333% - 20px); /* Adjust width and margin between photos */
    max-width: 350px; /* Set a maximum width for the photos */
    min-width: 300px; /* Set a minimum width for the photos */
  }

  .photo img {
    width: 100%; /* Ensure the image takes up the full width of the container */
    height: auto; /* Maintain aspect ratio */
    max-height: 350px; /* Set a maximum height as needed */
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
  }

  .photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .photo:hover img {
    filter: brightness(70%); /* Adjust the brightness level */
  }

  .photo:hover .photo-overlay {
    opacity: 1;
  }

  .overlay-content {
    text-align: center;
    color: #ffffff;
  }

  .overlay-content a {
    display: inline-block;
    padding: 10px;
    background-color: #747373;
    color: #ffffff;
    border: 1px solid #747373;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
  }

  .photo-caption {
    font-style: italic;
    font-size: 12px;
    color: #ffffff;
    margin-top: 5px;
  }

  @media screen and (max-width: 768px) {
    .photo-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; 
      align-items: center; 
      margin: 20px; 
      padding: 40px;
    }
  
    .photo {
      width: calc(50% - 20px); 
      margin: 10px; 
    }
  }
  